.app {
  &--header {
    height: 140px;
    &__menuDesktop {
      & ul {
        & li {
          a {
            display: block;
            padding: 0 20px;
            background-color: transparent;
            fill: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }

  &--wrapper {
    min-height: calc(100vh - 140px);
    padding: 50px 0 100px;

    &__home::before,
    &__home::after {
      content: " ";
      display: table;
    }

    &__homewords {
      width: 100%;
      line-height: .9;
      position: relative;
      margin-bottom: 80px;
    }
  }

  &--homewords {
    &__space {
      clear: both;
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    &__before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0;
      opacity: 0;
      z-index: 20;
      transform: translateX(0);
      pointer-events: none;
      will-change: left,width,opacity,right,transform;
    }

    &-wordWrapper {
      position: relative;
      opacity: 1;
      z-index: 10;
      transform: translateX(0) translateZ(0);
      will-change: opacity,transform;

      &__e {
        height: 40px;

        & img {
          height: 40px;
        }
      }
    }
  }

  &-homewords {
    &-word {
      font-size: 150px;
      text-shadow: -5px 4px 10px rgb(0 0 0 / 30%), 0 3px 15px rgb(0 0 0 / 30%);
      font-weight: 900;
      letter-spacing: -8px;
      transform: matrix(1,0,0,1,0,0) translateX(0);
      transform-origin: 50% 100%;
      will-change: text-shadow,transform;
      cursor: default;
    }

    &-e {
      height: 100px;
      margin-left: 20px;
      position: relative;
      animation: wave 2.6s 3 alternate forwards ease-in-out 3s;
      transform: rotate(0deg);
      will-change: transform;

      & img {
        height: 100%;
      }
    }
  }

  &-project {
    padding: 0 0 100px;
    position: relative;

    &--section {
      margin-bottom: 30px;

      &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
      }

      &__content {

        &-image {
          max-width: 600px;
          width: 100%;
          position: relative;

          &::after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            opacity: 0.3;
          }
    
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__body {
        margin-top: 100px;
      }
    }
  }
  
  &--footer {
    position: relative;
    padding: 10px 0 100px;

    &__home {
      padding-bottom: 20px;
      position: relative;

      &-header {
        text-align: center;

        & h1 {
          width: 60%;
          margin: auto;
          font-size: 65px;
          line-height: 120%;
          letter-spacing: -2px;
          font-weight: 600;
        }

        & h3 {
          margin-top: 20px;
          line-height: 120%;
          font-size: 35px;
          font-weight: 500;
          font-family: Inter, 'sans-serif';
          letter-spacing: -2px;
        }

        & p {
          margin-top: 10px;
          font-weight: 500;
          font-size: 30px;
          font-family: Inter, "sans-serif";
          letter-spacing: -2px;
          line-height: 120%;
        }
      }
    }
  }
}

.app--homewords-wordWrapper:hover .app-homewords-word {
  animation: jumping 1.5s 10 alternate forwards ease-in-out;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes jumping {
  0% {
    transform: scale(1) translateY(0) translateZ(0);
  }
  50% {
    transform: scale(1.2) translateY(-5px) translateZ(0);
  }
  100% {
    transform: scale(0.9) translateY(0) translateZ(0);
  }
}

.project{
  position: relative;
  margin: 75px 0 35vh;

  &--flex_left {
    display: flex;
    justify-content: flex-start;

    & .app-project--section__content-header {
      position: absolute;
      top: 50%;
      left: 65%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &--flex_right {
    display: flex;
    justify-content: flex-end;

    & .app-project--section__content-header {
      position: absolute;
      top: 50%;
      left: 35%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.arrow--class {
  position: absolute;
  bottom: -50px;
  right: 260px;
}

.home__wrapper {
  & .js__trigger {
    & .app--homewords-wordWrapper {
      &:nth-child(3) {
        margin-left: 32px;
      }
      &:nth-child(8) {
        margin-left: 32px;
      }
    }
  }
}

.home__wrapper {
  & .js_trigger {
    & .app--homewords-wordWrapper {
      &:nth-child(5) {
        margin-left: 32px;
      }
    }
  }
}

.about__wrapper {
  & .js__trigger {
    & .app--homewords-wordWrapper {
      &:nth-child(5) {
        margin-left: 32px;
      }
    }
  }
}